footer {
    padding: 5em 0 2em 0;
    background-color: var(--clr-primary-900);
    color: var(--clr-primary-200);
}

footer i {
    font-size: 1.5rem;
}

footer h4{
    font-size: 1.25rem;
    padding-bottom: 2em;
}

footer p{
    font-weight: 400;
    padding-bottom: 1.2em;
    font-size: 1rem;
}